    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        background-color: #90dbf4;
        text-align: center;
    }
    
    .container {
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .game {
        height: 60vmin;
        width: 60vmin;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1.5vmin;
    }
    
    .box {
        height: 18vmin;
        width: 18vmin;
        border-radius: 1rem;
        border: none;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
        font-size: 8vmin;
        background-color: #e7ecef;
    }
    
    .box[data-value="O"] {
        color: blue;
        /* Color for "O" */
    }
    
    .box[data-value="X"] {
        color: red;
        /* Color for "X" */
    }
    
    #reset {
        padding: 1rem;
        font-size: 1.5rem;
        border: 2px solid black;
        color: #fff;
        background-color: #191913;
        border-radius: 1rem;
    }
    
    #New-btn {
        padding: 1rem;
        font-size: 1.5rem;
        border: 2px solid black;
        color: #fff;
        background-color: #191913;
        border-radius: 1rem;
    }
    
    #msg {
        color: #ffffc7;
        font-size: 8vmin;
    }
    
    .msg-container {
        height: 20vmin;
    }
    
    .hide {
        display: none;
    }
    
    #draw {
        color: #ffffc7;
        font-size: 8vmin;
    }
    
    .draw-message {
        height: 20vmin;
    }